*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(174, 237, 216);
    background-blend-mode:luminosity;
    font-size: 22px;
    font-family: 'Cochin', Georgia, serif;
    text-align: center;
    padding: 50px;
    display: flex;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: 300;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    background-color: rgb(76, 203, 150);
    border-radius: 6px;
    margin-bottom: 30px;
}

.btn {
    background-color: rgb(211, 134, 194);
    border-radius: 30%;
    font-size: 18px;
    font-family: 'Cochin', Georgia, serif;
    color: rgb(241, 244, 247);
    cursor: pointer;
    padding: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    display:inline-block;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Scoreboard on the second page HTML 2 */
.scoreBoard {
    background-color: rgb(211, 134, 194);
    border-radius: 30%;
    font-size: 18px;
    font-family: 'Cochin', Georgia, serif;
    cursor: pointer;
    padding: 5px;
    width: 200px;
    height: 40px;
    text-align: center;
    color: rgb(241, 244, 247);
    display: inline-block;
    margin-top: 20px;
}

button:hover {
background-color: rgb(57, 155, 229);
}

.initials {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 500px;

}

.playAgain {
    background-color: rgb(211, 134, 194);
    border-radius: 30%;
    font-size: 18px;
    font-family: 'Cochin', Georgia, serif;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(241, 244, 247);
    display: inline-block;
    margin-top: 20px;
}

.clearButton {
    background-color: rgb(211, 134, 194);
    border-radius: 30%;
    font-size: 18px;
    font-family: 'Cochin', Georgia, serif;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    height: 60px;
    text-align: center;
    color: rgb(241, 244, 247);
    display: inline-block;
    margin-top: 20px;
}

.submitBtn {
    background-color: rgb(211, 134, 194);
    border-radius: 30%;
    font-size: 18px;
    font-family: 'Cochin', Georgia, serif;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(241, 244, 247);
    display: inline-block;
    margin-top: 20px;
}

.scoresList{
background-color: #f1e9e9;
border: 5px;
border-radius: 10px;
margin: 5%;
padding: 10px;
overflow: hidden;
flex-direction: row;
flex-wrap: wrap;
}

.scoresList::after {
    content: " ";
    display: inline-block;
    clear: both;
}

.timer {
    height: 200px;
    padding: 10px;
    background-color: #f1e9e9;
    font-size: larger;
    color: rgb(194, 28, 56);
    text-align: center;
}

.timer-text {
    padding: 50px;
}