*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(174, 237, 216);
    background-blend-mode:luminosity;
    font-size: 22px;
    font-family: 'Cochin', Georgia, serif;
    text-align: center;
    padding: 50px;
    display: flex;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: 300;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background-color: rgb(211, 134, 194);
    border-radius: 30%;
    font-size: 18px;
    font-family: 'Cochin', Georgia, serif;
    color: rgb(241, 244, 247);
    cursor: pointer;
    padding: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
    border: none;
    display:inline-block;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

button:hover {
background-color: rgb(57, 155, 229);
}

.initials {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 500px;

}

.goBackClear {
    display: flex;
    gap: 10px;
    color: rgb(201, 60, 170);
}

/* Correct button should change colour to green */
button.correct {
    --hue:var(--hue-correct);
}

/* Wrong button should be colour red */
button.wrong {
    --hue:var(--hue-wrong);
}